.navBar{
    height: auto;
    width: auto;

}
.navBar ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    cursor: pointer;

}
.navBar ul li{
    border: 1px solid black;
    padding: 10px 40px ;
    border-radius: 5px;
    background-color: lightgrey;
    margin-left: 50px;


}
.navBar ul li a{
    color: black;
    text-decoration: none;

}

.rootOverride{
    background-color: lightgrey !important;
    height: auto;
}